<span class="text-4xl mb-10 mt-10 text-center title">Rólam</span>
<main class="text-justify mb-20">
  <img src="../../../assets/lucien.jpg" class="w-96 rounded-md">
Rengeteg tényt listázhatnék ki, de ez nagyon nem én lennék. Inkább csak megosztanék magamból egy keveset.
<br><br>
Elsősorban mindig is a valóság érdekelt, a mélység, hogy mi van a minden mögött, mik a mozgatórugók, és hogyan élhetünk örömtelibb, szabadabb, tartalmasabb életet. Ez vagyok én.
<br><br>
Mesélhetnék a 11 országról, ahol éltem és konzultáltam, tanfolyamokat tartottam, embereknek segítettem, de a megszámlálhatatlan tanítóról, mesterről, tanfolyamról, könyvről, iskoláról, tudásanyagról, barátról és kapcsolódásról is, amelyek mindig tovább vittek, adtak, vagy éppen elvettek, ha arra volt szükség.
<br><br>
Hollywoodtól kezdve, New Yorkon keresztül egészen Rodoszig rengeteg mesés élményt éltem és élek meg csodálatos emberek társaságában - ezekért örökké hálás leszek.
<br><br>
A több, mint három évtizede követett mintám tulajdonképpen az, hogy tapasztalok, tanulok, a hatékonynak tűnő és működőképes tudásokat beolvasztom a saját szolgáltatásaimba, majd haladok tovább.
<br><br>
Ami jelenleg ezen a honlapon a tudatosságról elérhető, ott tartok és azt tudom nyújtani.
<br><br>
Élvezd a létet és ragyogj,<br>
Ruppert Endre lucien<br>
aka Lucien del Mar
<br><br>
Ui: És igen, nagyon nem vagyok "kész", olyan nincs is. Egy idő után tényleg az van, hogy egyre kevesebb dologban leszel biztos (legalábbis velem így van), és ez így tökéletes. Tanulok, fejlődök, elengedek, elengedek, elengedek...
</main>
