<span class="text-4xl mt-10 text-center title">Módszer</span>
<main class="text-justify mb-20 mx-5">
  <span class="highlight">Mi a Circling / Authentic Relating?</span>
  <span class="text"
    ><b>Circling:</b> "circle" angolul "kör". Arra utal, hogy egy körben ülünk,
    és amikor egyikünk kerül a fókuszba, akkor "körül-ötte" vagyunk, őrá
    figyelünk, vele foglalkozunk elsősorban. <br /><br /><b>Authentic:</b>
    autentikus, önazonos - <b>Relating:</b> kapcsolódás <br />Arra az izgalmas
    és örök kérdésre utal, hogy hogyan tudunk önazonosak maradni, miközben
    mélyen kapcsolódunk. A két vágyunk/igényünk ki tud-e elégülni egyszerre. S
    erre a kérdésem a tapasztalataim alapján a Circling/AR megadja a csodálatos
    választ!<br /><br />
    Arra a kérdésre pedig, hogy mi a Circling, ahány megélés, annyi válasz,
    ezért én inkább idéznék néhányat, mert mindegyik igaz, de önmagában kevés:
    <br />
    <br />&bull; Az egymásra figyelés művészete <br />&bull; Kommunikációs
    rendszer <br />&bull; Kapcsolati meditáció <br />&bull; Önismereti módszer
    <br />&bull; Egyedülálló, néhány órás, mély együttlét-mód két vagy több
    ember között online vagy személyesen. <br />&bull; Idegenek és ismerősök
    között is gyorsan hidat teremteni képes jelenlét forma <br />&bull; Minőségi
    figyelés, mély egymással lét <br />&bull; A csoport, a tér intelligenciára
    épülő figyelem, megengedés, befogadás és kommunikáció
  </span>
  <span class="highlight"
    >Circling és Authentic Relating. Ez egy vagy két módszer?</span
  >
  <span class="text">
    Egy tőből fakadnak, minimálisan különböző kommunikációs, jelenléti
    módszerek. Mondhatjuk, hogy a Circling a formális, az Authentic Relating az
    informális, játékosabb forma.
  </span>
  <span class="highlight"
    >Mennyire függ a Circling a szolgáltatás vezetőjétől?</span
  >
  <span class="text">
    A Circling nem egy mérnöki tudomány, inkább jelenléti, kommunikációs
    művészet és együttlét, amely mindig más és más, és igen, nagy mértékben függ az
    alkalmat levezénylő szakembertől. Nem jobb, nem rosszabb, csak kicsit más
    lesz, alapjaiban pedig mégis: ugyanolyan.
  </span>
  <span class="highlight"
    >Hány Circling alkalomban érdemes részt venni?</span
  >
  <span class="text">
    A Circling nem egy terápiás módszer, és nem coaching egy konkrét probléma
    megoldására, hanem folyamatosan mélyülő önismeretre és kapcsolódási képesség
    fejlesztésre ad lehetőséget. A saját tapasztalatom az, hogy bármennyit is
    csinálom, mindig ad újat az életemhez, ezért is olyan nagy szerelem
    számomra. Végtelen mélyülés önmagamban és a másokkal való kapcsolódásomban!
  </span>
</main>
