<div class="text-4xl mb-5 mt-10 text-center title">Szolgáltatások</div>
<main class="text-justify mb-20">
  <span>Első alkalom</span>
  <p>
    Ha még nem próbáltad, akkor neked az első alkalom féláron van, bármelyik
    fajtára jössz.
  </p>
  <span>Helyszín</span>
  <p>
    Az alkalmak videóhívásban, vagy Dunabogdányban, a
    <a href="https://csudahely.hu/" target="_blank" class="text-teal-600"
      >Csudahelyen</a
    >
    zajlanak. Elsősorban tőled függ, hogy melyiket választod.
  </p>
  <span>Egyéni</span>
  <p>15.000 Ft / 1 alkalom 60 perc</p>
  <span>Pároknak</span>
  <p>20.000 Ft / 1 alkalom 60 perc</p>
  <span> Csoportos </span>
  <p class="mb-10">8.000 Ft / 1 alkalom 90 perc</p>
  <button (click)="goToContactPage()">Jelentkezem</button>
</main>
